.all_top-link-social .b-share-icon_mykp img {width: 30px; height: 30px;}
.b-share-form-button {border: none;color: #000!important;cursor: default;display: inline-block;font: 86% / 17px Verdana, arial, sans-serif;height: 19px;margin: 0px 3px;outline: none;padding: 0px 4px;position: relative;text-decoration: none!important;white-space: nowrap;}
.b-share-form-button:link:hover,.b-share-form-button:visited:hover {color: #000!important;}
.b-share-form-button__before,.b-share-form-button__after {height: 19px;position: absolute;width: 3px;}
.b-share-form-button__before {margin-left: -7px;}
.b-share-form-button__after {background-position: -3px 0px;margin-left: 4px;}
.b-share-form-button::-moz-focus-inner {border: none;}
button.b-share-form-button .b-share-form-button__before,button.b-share-form-button .b-share-form-button__after {margin-top: -1px;}
@-moz-document url-prefix() {
    button.b-share-form-button .b-share-form-button__after {margin-left: 6px;margin-top: -2px;}
    button.b-share-form-button .b-share-form-button__before {margin-left: -9px;margin-top: -2px;}
}
span.b-share-form-button:hover,.b-share-form-button_state_hover {background-position: 0px -60px;}
span.b-share-form-button:hover .b-share-form-button__before,.b-share-form-button_state_hover .b-share-form-button__before {background-position: 0px -40px;}
span.b-share-form-button:hover .b-share-form-button__after,.b-share-form-button_state_hover .b-share-form-button__after {background-position: -3px -40px;}
.b-share-form-button_state_pressed,.b-share-form-button_state_pressed .b-share-form-button_share {background-position: 0px -100px!important;}
.b-share-form-button_state_pressed .b-share-form-button__before {background-position: 0px -80px!important;}
.b-share-form-button_state_pressed .b-share-form-button__after {background-position: -3px -80px!important;}
button.b-share-form-button_state_pressed {overflow: visible;}
.b-share-form-button_icons {background-position: 0px -20px!important;padding: 0px;position: relative;}
.b-share-form-button_icons .b-share-form-button__before {background-position: 0px 0!important;left: 0px;margin-left: -3px;}
.b-share-form-button_icons .b-share-form-button__after {background-position: -3px 0!important;margin-left: 0px;z-index: -1;}
.b-share-form-button_icons .b-share__handle {padding: 2px!important;}
.b-share-form-button_icons .b-share__handle_more {margin-right: -4px;padding-right: 6px!important;position: relative;}
.b-share-form-button_icons .b-share-icon {opacity: 0.5;}
.b-share-form-button_icons a.b-share__handle:hover .b-share-icon {opacity: 1;}
.b-share {display: inline-block;font: 86% / 1.4545em arial, sans-serif;padding: 1px 3px 1px 4px!important;vertical-align: middle;}
.b-share .b-share-form-button {font-size: 1em;}
.b-share__text .b-share-icon {border: none;margin: 0px 5px 0px 0px;}
.b-share__text {margin-right: 5px;}
.b-share__handle {cursor: pointer;float: left;height: 16px;padding: 5px 3px 5px 2px!important;text-align: left;text-decoration: none!important;}
.b-share__handle_cursor_default {cursor: default;}
.b-share__handle .b-share-form-button {margin-top: -2px;}
.b-share__hr {display: none;float: left;height: 26px;margin: 0px 3px 0px 2px;width: 1px;}
a.b-share__handle:hover .b-share__text {color: #f00;text-decoration: underline;}
.b-share_bordered {-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;border: 1px solid #e4e4e4;padding: 0px 2px 0px 3px!important;}
.b-share_bordered .b-share__hr {background: #e4e4e4;display: inline;}
.b-share_link {margin: -8px 0px;}
a.b-share_link {margin: 0px;}
.b-share_link .b-share__text {color: #1a3dc1;text-decoration: underline;}
.b-share-form-button_share {padding-left: 26px!important;vertical-align: top;}
.b-share-form-button_share .b-share-form-button__before {margin-left: -29px;}
.b-share-form-button_share .b-share-form-button__icon {height: 17px;margin: 1px 0px 0px -23px;position: absolute;width: 20px;}
.b-share-pseudo-link {border-bottom: 1px dotted;cursor: pointer;text-decoration: none!important;}
.b-share_font_fixed {font-size: 11px;}
.b-share__handle_more {color: #7b7b7b;font-size: 9px;margin-top: -1px;}
a.b-share__handle_more:hover {color: #000;}
.b-share__group {float: left;}
.b-share-icon {border: 0px;display: inline;float: left;height: 16px;overflow: hidden;padding: 0!important;vertical-align: top;width: 16px;}
.b-share-icon_vkontakte,.b-share-icon_custom {background-position: 0px 0px;}
.b-share-icon_yaru,.b-share-icon_yaru_photo,.b-share-icon_yaru_wishlist {background-position: 0px -17px;}

.b-share_theme_counter .b-share-icon {-khtml-border-radius: 4px;-moz-border-radius: 4px;-webkit-border-radius: 4px;background-position: -2px -5px;border-radius: 4px;display: block;float: left;height: 45px;margin: 0px;padding: 0px;width: 50px;z-index: -1;}
.small-share {  position: relative;  height: 25px;  z-index: 999;  width: 100%;  text-align: center;}
.small-share .b-share-btn__wrap {margin-right: -15px;}
.small-share .b-share_theme_counter .b-share-icon {transform: scale(0.7, 0.7);o-transform: scale(0.7, 0.7);-moz-transform: scale(0.7, 0.7);-webkit-transform: scale(0.7, 0.7);}
.small-share .b-share_theme_counter .b-share-counter {transform: scale(0.7, 0.7);o-transform: scale(0.7, 0.7);-moz-transform: scale(0.7, 0.7);-webkit-transform: scale(0.7, 0.7);}
.b-share_theme_counter .b-share__link {display: inline-block;height: auto;margin: 0px;padding: 0!important;position: relative;text-align: center;text-decoration: none;width: 55px;z-index: 0px;}
.b-share_theme_counter .b-share__link:active {border-bottom: 0px;filter: alpha(opacity = 70);opacity: 0.7;}

.b-share-counter {display: none;}
.b-share-btn__counter .b-share-counter {display: block;}
.b-share_theme_counter .b-share-counter {background-position: bottom;color: #3f0444;font-size: 14px;height: 73px;line-height: 25px;margin: 2px 4px;padding: 2px 4px;text-decoration: none!important;}
.b-share-btn__wrap {display: inline-block;height: 65px;padding: 0px;}
.b-share_theme_counter .b-share__link:hover .b-share-icon:after {_display: none;background-color: inherit;background-image: none;bottom: 0px;content: ""; display: block;filter: alpha(opacity = 20);height: 50%;left: 0px;opacity: 0.2;position: absolute;width: 26px;_background-color: transparent;}
.b-share_theme_counter .b-share_type_small .b-share__link:hover .b-share-icon:after {width: 18px;}
.b-share_theme_counter .b-share_type_small .b-share-icon {-khtml-border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;height: 18px;width: 20px;}
.b-share_theme_counter .b-share_type_small .b-share-counter {font-size: 11px;line-height: 10px;margin: 2px 4px;padding: 2px 0px 0px;_padding-top: 1.5px;}
.all_top-link-social {overflow:hidden; width:62px; padding:5px 0px 5px 5px; left:0px;}
.all_top-link-social .left {min-height:232px; background:#ffffff; box-shadow:0px 0px 5px #a9abac; -webkit-border-radius: 3px 0px 0px 3px; -moz-border-radius: 3px 0px 0px 3px; border-radius: 3px 0px 0px 3px;}
.all_top-link-social .b-share {padding: 20px 0px 12px 11px!important;}
.all_top-link-social .b-share__handle {float:none;}
.all_top-link-social .b-share-btn__wrap {display:block; height:auto; margin-bottom:6px;}
.b-share_theme_counter .b-share-counter {display:none; height:19px; width: 44px; font-size:14px; color:#40454c; font-weight:bold; background:#f5f5f5; border:1px solid #bfbfbf; -khtml-border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px;  border-radius: 3px; line-height: 1em; margin: 0px 0px 9px 0px; padding: 4px 0px 0px 0px; position:absolute; top:0px; left:0px;}
.b-share_theme_counter .b-share-counter:before {content:' '; position:absolute; bottom:-10px; left:16px; background: url("../img/all_top-link-social.png") 0px -320px no-repeat; width:12px; height:10px;} 

.wrap-soc {
	overflow: visible;	
	height: 100px;
}
.soc-enter {overflow: visible;}
.soc-enter .b-share_theme_counter .b-share-counter{
	top: -35px;
}

.b-share_theme_counter .b-share-icon {-khtml-border-radius: 0px; -moz-border-radius: 0px; -webkit-border-radius: 0px; float:none;  border-radius: 0px; background: url("../img/all_top-link-social.png") 0px 0px no-repeat; height: 30px; width: 30px; margin:0px 0px 0px 7px;}
.b-share_theme_counter .b-share-icon_mykp {background-position: 0px 0px;}
.b-share_theme_counter .b-share-icon_twitter {background-position: 0px -30px;}
.b-share_theme_counter .b-share-icon_facebook {background-position: 0px -60px;}
.b-share_theme_counter .b-share-icon_gplus {background-position: 0px -90px;}
.b-share_theme_counter .b-share-icon_odnoklassniki {background-position: 0px -120px;}
.b-share_theme_counter .b-share-icon_vkontakte {background-position: 0px -150px;}
.b-share_theme_counter .b-share-icon_mail {background-position: 0px -180px;}
.b-share_theme_counter .b-share-icon_comments {background-position: 0px -210px;}
.b-share_theme_counter .b-share-btn__moimir {background-position: 0px -330px;}

#my-ya-share2 .b-share-btn__wrap {width: 51px;}
#top-link-social {display: none; position: absolute;margin-left: -67px;margin-top: 50px;}