.about-s2 {
  background-color: #fcfcfc;
  background-image: url(../img/dot.png);
  background-repeat: repeat;
  background-size: 30px 30px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1040px;
    padding: 0;
  }

  h2 {
    color: #000000;
    @extend %pfreg;
    font-size: 76px;
    font-weight: 400;
    line-height: 104px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  span {
    color: #000000;
    @extend %Amed;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .about-s2-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-s2-item {
    max-width: 320px;

    &:nth-of-type(4),
    &:nth-of-type(5),
    &:nth-of-type(6) {
      margin-top: 35px;
    }
  }
  .br-mobile {
    display: none;
  }
}



@media screen and (max-width: 1200px) {

  .about-s2 {
    .container {
      max-width: 670px;
    }

    .about-s2-item {
      max-width: 205px;
    }
  }
}


@media screen and (max-width: 767px) {

  .about-s2 {


    .br-mobile {
      display: block;
    }
    padding: 10px 0 15px;

    .container {
      padding: 0;
      max-width: 670px;
    }

    h2 {
      font-size: 17.8vw;
      line-height: 28.9vw;
    }

    span {
      font-size: 4.5vw;
      text-align: center;
    }

    .about-s2-container {
      padding: 0 10px;
    }

    .about-s2-item {
      max-width: 39.5vw;

      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        margin-top: 4.2vw;
      }
    }
  }
}