.about-s3 {
  min-height: 100vh;
  padding: 40px 0 140px;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h2 {
    color: #000000;
    @extend %pfreg;
    font-size: 76px;
    font-weight: 400;
    line-height: 104px;
    text-transform: uppercase;
    margin-bottom: 68px;
  }

  .about-s3-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start;
  }

  .about-s3-item {
    display: flex;
    width: 33.33%;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &:nth-of-type(5),
    &:nth-of-type(6),
    &:nth-of-type(4) {
      margin-top: 100px;
    }
  }

  .about-s3-item-top {
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      margin-right: 15px;
    }
  }

  .icon-svg-about-s3-1 {
    width: 50px;
    height: 42px;
  }
  .icon-svg-about-s3-2 {
    width: 38px;
    height: 46px;
  }
  .icon-svg-about-s3-3 {
    width: 36px;
    height: 42px;
  }
  .icon-svg-about-s3-4 {
    width: 40px;
    height: 42px;
  }
  .icon-svg-about-s3-5 {
    width: 42px;
    height: 42px;
  }
  .icon-svg-about-s3-6 {
    width: 42px;
    height: 42px;
  }

  .about-s3-item-header {
    color: #000000;
    @extend %pfreg;
    font-size: 52px;
    font-weight: 400;
    line-height: 104px;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .about-s3-item-txt {
    color: #000000;
    @extend %Amed;
    font-size: 20px;
    font-weight: 500;
    line-height: 34px;
    max-width: 553px;
    text-align: center;
    padding: 0 45px;
  }
}


@media screen and (max-width: 1440px) {

  .about-s3 {

    .about-s3-item {
      width: 50%;

      &:nth-of-type(2),
      &:nth-of-type(3),
      &:nth-of-type(4),
      &:nth-of-type(5),
      &:nth-of-type(6) {
        margin-top: 80px;
      }
    }
  }
}


@media screen and (max-width: 1200px) {

  .about-s3 {

    h2 {
      margin-bottom: 0;
    }

    .about-s3-container {
      flex-direction: column;
      justify-content: flex-start;
    }

    .about-s3-item {
      width: 100%;
      margin-top: 80px;


      &:nth-of-type(3),
      &:nth-of-type(4) {
        margin-top: 80px;
      }
    }

    .about-s3-item-header {
      line-height: 84px;
    }
  }
}


@media screen and (max-width: 767px) {

  .about-s3 {
    padding: 7vw 0 17vw;

    h2 {
      font-size: 17.8vw;
      line-height: 28.9vw;
    }

    .about-s3-item {
      &:nth-of-type(1) {
        margin-top: 40px;
      }
      &:nth-of-type(3),
      &:nth-of-type(2),
      &:nth-of-type(4) {
        margin-top: 80px;
      }
    }


    .about-s3-item-header {
      font-size: 9.3vw;
      line-height: 28.9vw;
    }


    .about-s3-item-txt {
      font-size: 5.6vw;
      line-height: 9.5vw;
      max-width: none;
      padding: 0;
    }
  }
}