.vacancy-s2 {
  padding: 88px 0;
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1080px;
    overflow: visible;
  }

  .blog-single-return-link {
    @extend %Amed;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .blog-single-img {
    margin-bottom: 38px;
  }

  p {

    max-width: none;
    font-size: 27px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 70px;

    &:last-of-type {
      margin-bottom: 100px;
    }
  }
  .sign {
    color: #000000;
    @extend %qbold;
    font-size: 27px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 30px;
  }

  .blog-single-social {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50px;
  }

  .blog-single-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .2)
  }

  $w: 14px,
  28px,
  40px,
  14px,
  30px;
  @for $i from 1 through length($w) {
    .icon-svg-blog-#{$i} {
      width: nth($w, $i);
    }
  }


  $h: 30px,
  23px,
  23px,
  30px,
  31px;
  @for $i from 1 through length($h) {
    .icon-svg-blog-#{$i} {
      height: nth($h, $i);
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contacts-form-header {
    display: flex;
    flex-direction: row;
  }

  h1 {
    @extend %Alig;
    color: #000000;
    font-size: 57px;
    font-weight: 400;
    line-height: 104px;
  }

  .contacts-sub-header {
    color: #000000;
    font-size: 20px;
    @extend %Areg;
    display: block;
    margin-bottom: 45px;
  }


  .vacancy-form-container {
    width: 1040px;
  }

  .contacts-form-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 51px;

    input {
      border-bottom: 2px solid #000000;
      height: 54px;
      line-height: 24px;
      color: #000000;
      @extend %Areg;
      font-size: 20px;
      width: 315px;
    }
  }

  textarea {
    height: 220px;
    resize: none;
    border: 2px solid #000000;
    line-height: 24px;
    color: #000000;
    @extend %Areg;
    font-size: 20px;
    padding: 15px;
    margin-bottom: 22px;
  }

  textarea:focus::placeholder,
  input:focus::placeholder {
    opacity: 0;
    visibility: hidden;
  }

  textarea::placeholder,
  input::placeholder {
    transition: all .15s linear;
    opacity: 1;
    visibility: visible;
  }

  .contacts-form-btns {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 70px;

    button {
      @extend %button;
      box-sizing: content-box;
      width: 99%;
    }
  }

  .section-btn-wrapper {
    display: flex;
    width: 364px;
    justify-content: center;
    align-items: center;

    span {
      margin-right: 6px;
    }

    svg {
      width: 49px;
      height: 16px;
      transform: rotate(180deg);
      margin-bottom: -2px;
    }
  }

  .s11-thanks {
    display: flex;
    display: none;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    svg {
      width: 200px;
      height: 200px;
      display: block;
      margin: 0 auto 35px;
    }
    .s11-thanks-header {
      color: #000000;
      @extend %Amed;
      font-size: 57px;
      margin-bottom: 20px;
    }

    .s11-thanks-txt {
      color: #000000;
      @extend %Areg;
      font-size: 32px;
    }
  }

  .inputfile {
    display: none;
  }

  .inputfile+label {
    font-size: 1.25em;
    font-weight: 700;
    background-color: rgba(187, 184, 197, .1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 363px;
    height: 49px;
    padding-left: 24px;
    border-radius: 4px;
    cursor: pointer;
    color: rgba(0, 0, 0, .3);
    @extend %Alig;
    font-size: 20px;
    font-weight: 500;
    margin-right: 28px;
  }
  .inputfile:focus+label,
  .inputfile+label:hover {
    background-color: rgba(187, 184, 197, .4);
    color: rgba(0, 0, 0, .5);
  }

  .inputfile:focus+label,
  .inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
  }

  .icon-file {
    margin-right: 8px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-svg-close {
    display: none;
    fill: #bbc2c5;
    width: 15px;
    height: 15px;
  }
}





@media screen and (max-width: 1200px) {

  .vacancy-s2 {
    .container {
      max-width: 668px;
      padding: 0;
    }

    .contacts-form-header {
      input {
        width: 197px;
      }
    }

    .vacancy-form-container {
      width: 100%;
    }
  }
}


@media screen and (max-width: 767px) {


  .vacancy-s2 {
    padding: 40px 0;
    .container {
      padding: 0 16px;
    }

    .blog-single-return-link {
      font-size: 20px;
      margin: 0 auto 40px;
    }

    p {
      font-size: 20px;
      line-height: 34px;
      margin-bottom: 30px;
    }
    .sign {
      font-size: 20px;
      line-height: 34px;
      margin-bottom: 20px;
    }

    .blog-single-social {
      margin-top: 0px;
    }

    .blog-single-social-item {
      width: 57px;
      height: 31px;
    }

    $w: 7px,
    14px,
    20px,
    7px,
    15px;
    @for $i from 1 through length($w) {
      .icon-svg-blog-#{$i} {
        width: nth($w, $i);
      }
    }

    $h: 15px,
    12px,
    12px,
    15px,
    16px;
    @for $i from 1 through length($h) {
      .icon-svg-blog-#{$i} {
        height: nth($h, $i);
      }
    }

    .vacancy-form-container {
      width: 100%;
    }

    h1 {
      font-size: 10.8vw;
      line-height: 1.4;
      margin-bottom: 5vw;
    }

    .contacts-sub-header {
      font-size: 6.5vw;
      margin-bottom: 8.9vw;
    }

    .contacts-form-header {
      flex-direction: column;
      justify-content: center;
      margin-bottom: 11.4vw;

      input {
        width: 100%;
        margin-bottom: 2.2vw;
      }
    }

    textarea {
      height: 71.9vw;
      margin-bottom: 3.3vw;
    }

    .contacts-form-btns {
      flex-direction: column;
      height: auto;

      button {
        height: 13.9vw;
        line-height: 3.3;
        font-size: 4.2vw;
      }
    }

    .section-btn-wrapper {
      width: 100%;
      height: 13.9vw;
    }

    .s11-thanks {
      padding: 0 16px 23.4vw;
    }

    .inp-file {
      width: 100%;
      margin-bottom: 5.3vw;
    }

    .inputfile {
      display: none;
      width: 100%;
      height: 13.9vw;
    }

    .inputfile+label {
      width: 100%;
      height: 13.9vw;
      justify-content: center;
      font-size: 4.2vw;
      padding-left: 0;
    }

    .icon-file {
      svg {
        width: 7vw;
        height: 8vw;
      }
    }
  }
}