@media all and (max-width: 1050px) {
	
	.l-cols {
		
		.l-col-left {
			width: 352px;
		}
		
		.news-hour {
			position: relative;
			z-index: 10;
			padding: 0;
			color: #000;
			border: none;
			border-radius: 0;
			background: none;
			background-image: none;
			
			&:after, &:before {
				display: none;
			}
			
			& > span {
				display: none;
			}
			
			em {
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				font-family: Arial;
				font-weight: bold;
				font-style: italic;
				font-size: 16px;
				line-height: 17px;
				color: #000000;
			}
			
			a {
				display: block;
				padding-left: 55px;
				font-family: Arial;
				font-style: italic;
				font-size: 14px;
				line-height: 17px;
				color: #E50E00;
			}
		}
		
		.topic__left {
			width: 100%;
			float: none;
			margin-bottom: 15px;
		}
		
		.actual-news__img {
			width: 353px;
			height: 235px;
			img {
				width: 353px;
				height: 235px;
			}
		}
		.actual-news__title {
			background: rgba(0, 0, 0, 0.65);
			font-family: Arial;
			font-weight: bold;
			font-size: 14px;
			line-height: 12px;
			color: #FFFFFF;
			padding: 10px 10px 8px;
		}
		.actual-news__descr {
			box-shadow: none;
			padding: 9px 10px;
			font-size: 0;
			border-top: 0;
			color: #fff;
			background: #40454D;
			
			a {
				font-family: Arial;
				font-size: 14px;
				line-height: 18px;
				color: #FFFFFF;
			}
		}
		
		.article__views_count, .article__comments_count {
			font-family: Arial;
			font-size: 11px!important;
			line-height: 18px;
			color: #9AA0AB !important;
		}
		
		.article__views_count {
			.ico-view {
				@include sprite($views);
			}
		}
		
		.article__comments_count {
			.ico-comment {
				@include sprite($comments);
			}
		}
		
		.article_mod {
			.subtitle {
				display: none;
			}
			
			img {
				width: 128px;
				height: 85px;
			}
		}
		
		.article {
			.article__title {
				font-family: Arial;
				font-weight: bold;
				font-size: 16px;
				line-height: 21px;
				color: #1A5CA6;
			}
		}
		
		.topic__item {
			.other {
				padding: 0 2px 0 10px;
				box-shadow: none;
			}
		}
		
		.image-ajax-loader {
			margin-left: 0;
			left: 50%;
			transform: translateX(-50%);
			bottom: 5px;
		}
		
		.other__wrap {
			height: 320px !important;
			margin-bottom: 0px;
			overflow-y: auto;
			
			&:after {
				display: none;
			}
			
			&::-webkit-scrollbar-button {
				background-image: url('');
				background-repeat: no-repeat;
				width: 6px;
				height: 0px
			}
			
			&::-webkit-scrollbar-track {
				background-color: transparent;
				opacity: 0;
				visibility: hidden;
			}
			
			&::-webkit-scrollbar-thumb {
				border-radius: 3px;
				background-color: #D1D1D1;
			}
			
			&::-webkit-scrollbar-thumb:hover {
				background-color: #D1D1D1;
			}
			
			&::-webkit-resizer {
				background-image: url('');
				background-repeat: no-repeat;
				width: 6px;
				height: 0px
			}
			
			&::-webkit-scrollbar {
				width: 6px;
			}
		}
		
		.other__content {
			position: relative;
			top: 0 !important;
			
			dt {
				font-family: Arial;
				font-style: normal;
				font-size: 12px;
				line-height: 18px;
				color: #000000;
			}
		}
		
		.other {
			.other__title {
				font-family: Arial;
				font-weight: bold;
				font-size: 16px;
				line-height: 31px;
				color: #60646B;
			}
			
			a {
				font-family: Arial;
				font-size: 14px;
				line-height: 18px;
				color: #1A5CA6;
				
				span {
					display: none;
				}
				
				.article__comments_count {
					display: none !important;
				}
			}
		}
		
		.title-l-1 {
			border-bottom: 1px solid #D1D1D1;
			background: transparent;
			background-image: none;
		}
		
		.topic {
			.topic__right {
				float: none;
				width: 100%;
				margin-bottom: 20px;
			}
			
			.title-l-1_small {
				padding-bottom: 9px;
				font-family: Arial;
				font-size: 24px;
				line-height: 21px;
				color: #40454D;
				margin-bottom: 11px;
			}
			.article {
				border-bottom: 0;
				
				&:nth-of-type(3) {
					display: none;
				}
			}
		}
		
		
		.article__title {
			span {
				display: none;
			}
		}
		
		
		.media-label {
			padding: 10px;
			font-family: Arial;
			font-weight: bold;
			font-size: 17px;
			color: #FFFFFF;
			line-height: 1;
			height: auto;
		}
		
		#gallerymain, .photo-day {
			padding: 0;
		}
		
		.rsDefault {
			margin-top: 0px;
			
			.rsArrow {
				position: absolute;
				right: 0;
				top: 0;
				height: 233px;
				width: 33px;
				cursor: pointer;
				background: #40454c;
				text-align: center;
				-webkit-user-select: none;
				opacity: 0.8;
			}
			
			.rsGCaption {
				margin-top: 0;
			}
		}
		
		img.rsImg {
			max-width: 352px;
			width: 100%!important;
			margin-left: 0!important;
			margin-top: 0 !important;
			height: 233px !important;
		}
		
		.rsContainer, .rsContent {
			height: 233px !important;
		}
		
		.photo-day__text {
			margin-bottom: 0;
			padding: 9px;
			font-family: Arial;
			font-size: 14px;
			line-height: 18px;
			color: #FFFFFF;
		}
		
		.rsHidden {
			opacity: 0;
			visibility: visible;
		}
		
		.gallery_other {
			box-shadow: none;
			margin-bottom: 34px;
			padding: 5px 6px 5px 10px;
			.gallery_other__title {
				font-family: Arial;
				font-weight: bold;
				font-size: 17px;
				line-height: 21px;
				color: #FFFFFF;
			}
			
			span {
				font-family: Arial;
				font-size: 11px;
				color: #C5CBD4;
			}
		}
		
		a.gallery-more {
			position: absolute;
			top: 100%;
			right: 0;
			display: block;
			margin-top: 8px;
			font-family: Arial;
			font-size: 12px;
			line-height: 16px;
			color: #1A5CA6;
		}
		
		.video-bar__wrap {
			overflow-y: auto;
			
			&:after {
				display: none;
			}
			
			ul {
				position: relative;
				top: 0 !important;
			}
			
			&::-webkit-scrollbar-button {
				background-image: url('');
				background-repeat: no-repeat;
				width: 6px;
				height: 0;
			}
			
			&::-webkit-scrollbar-track {
				background-color: transparent;
				opacity: 0;
				visibility: hidden;
				
			}
			
			&::-webkit-scrollbar-thumb {
				border-radius: 3px;
				background-color: #D1D1D1;
			}
			
			&::-webkit-scrollbar-thumb:hover {
				background-color: #D1D1D1;
			}
			
			&::-webkit-resizer {
				background-image: url('');
				background-repeat: no-repeat;
				width: 6px;
				height: 0;
			}
			
			&::-webkit-scrollbar {
				width: 6px;
			}
		}
		
		.video-scroller {
			height: auto;
			
			.video {
				float: none;
				padding: 0;
				margin: 0;
				height: 315px;
				box-shadow: none;
			}
		}
		
		.mejs-container {
			width: 100% !important;
		}
		
		.mejs-mediaelement {
			video {
				width: 100%;
			}
		}
		
		.video-scroller {
			.video__wrap {
				width: 100%;
				overflow: hidden;
				box-shadow: none;
				margin: 0;
			}
		}
		
		.mejs-overlay {
			width: 352px !important;
			height: 282px !important;
		}
		
		.video__descr {
			width: auto;
			right: 0;
			box-shadow: none;
			height: 44px;
			background-color: #575D66;
			
			span {
				font-family: Arial, serif;
				font-size: 14px;
				line-height: 18px;
				color: #FFFFFF;
				padding: 6px;
			}
		}
		
		.other {
			box-shadow: none;
		}
		
		.video-bar {
			float: none;
			padding: 20px 2px 12px 10px;
			width: 100%;
			height: 233px;
			
			&:after {
				position: absolute;
				content: '';
				display: block;
				bottom: 0;
				left: 0;
				right: 0;
				height: 55px;
				background: linear-gradient(180deg, rgba(64, 69, 77, 0) 0%, rgba(64, 69, 77, 1) 100%);
				pointer-events: none;
			}
			
			a {
				font-family: Arial, serif;
				font-size: 14px;
				line-height: 18px;
				color: #FFFFFF
				
			}
		}
		
		.qday {
			margin-top: 15px;
			.topic__item {
				border-right: 0;
				border-left: 0;
				border-bottom: 0;
				background-color: #575D66;
			}
			
			.media-label {
				margin-top: 15px;
			}
			
			.topic__left {
				padding: 20px 10px 50px;
				position: relative;
				border-right: 0;
				width: 100%;
				margin-bottom: 0;
				
				a {
					font-family: Arial, serif;
					font-size: 14px;
					line-height: 18px;
					color: #FFFFFF !important;
				}
			}
			
			.vote__body_submit {
				.input-submit {
					position: absolute;
					bottom: 10px;
					right: auto;
					left: 50%;
					transform: translateX(-50%);
					background: linear-gradient(180deg, rgba(250, 250, 250, 1) 0%, rgba(215, 216, 218, 1) 100%);
					border-style: Solid;
					border-color: #BEC5CD;
					border-width: 1px;
					border-radius: 3px;
					font-family: Arial, serif;
					font-size: 12px;
					color: #4B5159;
				}
			}
			
			.topic__right {
				margin-bottom: 0;
			}
			
			.topic__left {
				small {
					bottom: 10px;
					right: auto;
					left: 10px;
					border: 0;
					padding: 3px 0;
					font-family: Arial, serif;
					font-size: 11px;
					color: #C5CBD4;
				}
			}
		}
		
		//hidden Elements
		
		.other__scrollup, .other__scrolldown {
			display: none;
		}
		.rsDefault .rsFullscreenBtn {
			display: none;
		}
		.rsGCaption {
			//display: none;
		}
		
		.rsNav {
			display: none;
		}
		
	}
}