@media all and (max-width: 1050px) {
	.l-cols {
		.sidebar {
			width: 234px;
			
			.banner-middle {
				iframe {
					width: 100% !important;
				}
			}
			
			.media-sidebar {
				position: relative;
				margin-top: 38px;
				.article__views_count {
					display: none !important;
				}
				
				.actual-tv__title {
					background: rgba(0, 0, 0, 0.65);
					div {
						font-family: Arial;
						font-weight: 400;
						font-size: 14px;
						line-height: 16px;
						color: #FFFFFF;
					}
				}
				
				.actual-tv {
					margin-bottom: 40px;
				}
				
				.media-sidebar__date {
					margin-right: 8px;
					font-family: Arial;
					font-weight: 400;
					font-size: 12px;
					line-height: 16px;
					color: #ECA50D;
				}
				
				.media-sidebar__txt {
					a {
						font-weight: 400;
						font-family: Arial;
						font-size: 14px;
						line-height: 16px;
						color: #D8DFEB;
					}
				}
				
				ul li {
					border-bottom: 0;
					border-top: 0;
					
					&:first-child {
						box-shadow: none;
					}
				}
				
				.tv-more {
					float: none;
					margin: 5px 0 !important;
					position: absolute;
					top: 100%;
					font-family: Arial;
					font-size: 12px;
					line-height: 16px;
					color: #1A5CA6;
					text-decoration: underline;
					
					&:first-of-type {
						left: 0;
					}
					
					&:last-of-type {
						right: 0;
					}
				}
			}
			
			.media-sidebar__title {
				position: absolute;
				transform: translateY(-50%);
				left: 0;
				top: 0;
				z-index: 1;
				text-shadow: none;
				background-image: none;
				background: #ECA50D;
				font-family: Arial;
				font-weight: bold;
				font-size: 17px;
				line-height: 29px;
				color: #FFFFFF;
			}
			
			.actual-tv__img img {
				display: block;
				width: 100%;
				height: 176px;
			}
			
			.sidebar-title {
				border-bottom: 1px solid #D1D1D1;
				margin-bottom: 52px;
				background: transparent;
				background-image: none;
				a {
					font-family: Arial;
					font-weight: bold;
					font-size: 14px;
					line-height: 16px;
					color: #576069;
				}
			}
			
			.bloger__text {
				display: none;
			}
			
			.bloger__spec {
				font-family: Arial;
				font-size: 12px;
				line-height: 16px;
				color: #DAE0E8;
				
			}
			
			.bloger__title a {
				font-family: Arial;
				font-size: 13px;
				line-height: 16px;
				color: #1A5CA6;
				
			}
			
			.press-block .info-block__header, .collection-block .info-block__header {
				text-shadow: none;
				background: #ECA50D;
				background-image: none;
				border: 0;
				font-family: Arial;
				font-weight: bold;
				font-size: 17px;
				color: #FFFFFF;
			}
			
			.press-block {
				margin-bottom: 30px;
				.article__views_count {
					margin: 0;
				}
			}
			
			.press-nav {
				ul {
					border: 0;
					background-image: none;
				}
				li {
					border-top: 1px solid #D1D1D1;
					a {
						font-family: Arial;
						font-size: 13px;
						line-height: 16px;
						color: #40454D;
						
					}
					&:first-child {
						border-top: 0;
					}
				}
			}
			
			.project-block {
				ul {
					border: 0;
					img {
						width: 84px;
						height: 56px;
					}
					p {
						display: none;
					}
					li {
						border: 0;
						padding-left: 0;
					}
				}
				.project__picture {
					margin-bottom: 12px;
					img {
						width: 100%;
					}
				}
				.project-block__title {
					font-family: Arial;
					font-weight: bold;
					font-size: 13px;
					line-height: 16px;
					color: #1A5CA6;
					
				}
			}
			
			.info-block {
				ul {
					border: 0;
					background: transparent;
					background-image: none;
					padding-left: 0;
					padding-top: 0;
					padding-right: 0;
					
					.info-block__title {
						font-family: Arial;
						font-weight: bold;
						font-size: 13px;
						line-height: 16px;
						color: #40454D;
						
					}
					
					li {
						display: none;
						border-bottom: 0;
						
						padding-bottom: 0;
						&:first-of-type,
						&:last-of-type {
							display: block;
						}
						
						&.more {
							padding-top: 0;
						}
						
						img {
							float: left;
							width: 84px;
							height: 56px;
							margin: 4px 10px 4px 0;
							box-shadow: none;
							
						}
						
					}
					p {
						font-family: Arial;
						font-size: 13px;
						line-height: 16px;
						color: #40454D;
					}
				}
			}
			
			.miss-sidebar {
				margin: 0;
				
				&:first-child {
					margin: 0;
				}
				
				.miss__body {
					background: transparent;
					box-shadow: none;
				}
				
				a {
					img {
						float: none;
						width: 234px;
						height: auto;
						margin-top: 0;
					}
				}
			}
			
			.contest-block {
				position: relative;
				.info-block__header {
					position: absolute;
					left: 0;
					top: 0;
					transform: translateY(-50%);
					z-index: 1;
					text-shadow: none;
					background: #eca50d;
					background-image: none;
					font-family: Arial;
					font-weight: bold;
					font-size: 17px;
					color: #FFFFFF;
					border: 0;
				}
			}
			
			.miss__link {
				background: transparent;
				border: 0;
				margin: 0;
				padding: 0;
				a {
					width: 100%;
					background-image: none;
					background: linear-gradient(180deg, rgba(250, 250, 250, 1) 0%, rgba(215, 216, 218, 1) 100%);
					border-style: Solid;
					border-color: #BEC5CD;
					border-width: 1px;
					border-radius: 3px;
					font-family: Arial;
					font-size: 12px;
					color: #4B5159;
				}
			}
			
			.contest__item {
				display: none;
				&:first-of-type {
					display: block;
				}
				img {
					width: 100%;
				}
			}
			
			.contest__name {
				font-family: Arial;
				font-size: 13px;
				line-height: 16px;
				color: #FFFFFF;
			}
			
			.contest__title {
				border-bottom: 0;
				margin: 0;
				padding: 13px 10px 11px;
				font-family: Arial;
				font-size: 13px;
				line-height: 16px;
				color: #575D66;
				background-color: #f5f5f5;
			}
			
			.contest__body {
				background: none;
				border-top: 0;
				box-shadow: none;
				.more {
					background: transparent;
					overflow: hidden;
					padding: 4px 0 9px 10px;
				}
			}
			
		}
	}
}