.main-s2 {

  .container {
    padding: 0 0 0 65px;
  }

  h2,
  p,
  .section-btn-wrapper {
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  h2 {
    max-width: 50vw;
  }
  h2,
  p {

    margin-left: 5px;
  }

  .section-btn-wrapper {
    width: 473px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .item-visible {
    opacity: 1;
    visibility: visible;
  }

  a {
    @extend %button;
    vertical-align: middle;
    display: inline-block;
    box-sizing: content-box;
    border-color: #000000;
  }

  .section-img {
    position: absolute;
    max-width: 835px;
    width: 45vw;
    right: 0;
    transition: transform .5s cubic-bezier(0.38, 0.51, 0.03, 0.78);
    will-change: transform;
    top: 50%;
    padding-top: 45px;
    transform: translateY(-50%) translate3d(1000px, 0px, 0px);
  }

  .img-car-tablet {
    display: none;
  }

  .img-show {
    transform: translateY(-50%) translate3d(0px, 0px, 0px);
    transition-delay: 0.4s;
  }
}

@mixin main-s2-media-1200 {


  .main-s2 {
    background-color: rgb(126, 159, 176);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .container {
      height: auto;
      order: 2;
      padding: 0 50px;
      justify-content: center;
      overflow: visible;
    }

    h2,
    p,
    .section-btn-wrapper {
      transition: none;
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
    h2,
    p {

      margin-left: 0px;
    }

    h2 {
      font-size: 58px;
      line-height: 1;
      margin-bottom: 20px;
      max-width: none;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
    }

    .section-btn-wrapper {
      margin: 0 auto;
    }

    a {
      height: 50px;
      line-height: 50px;
    }

    .section-img {
      order: 1;
      position: relative;
      width: 81vw;
      right: auto;
      transition: none;
      top: auto;
      padding-top: 0;
      margin-bottom: 80px;
      max-width: 750px;
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    .img-car-desktop {
      display: none;
    }

    .img-car-tablet {
      display: block;
    }
  }
}

@mixin main-s2-media-768 {
  .main-section:not(.main-s1, .main-s7) {
    padding: 0;

    .container {
      padding: 15vw 16px 65vw;
      height: auto;
      min-height: 100vh;
      align-items: flex-start;
    }

    .content-wrapper {
      height: 100%;
    }

    h2,
    p {
      max-width: 670px;
    }

    h2 {
      font-size: 11.1vw;
      line-height: 1.2;
    }

    p {
      font-size: 4vw;
      font-weight: 500;
      line-height: 2.1;
      margin-bottom: 0;
    }

    .section-btn-wrapper {
      width: 100%;
      position: absolute;
      bottom: 15vw;
      left: 0;
      right: 0;
      padding: 0 16px;
      width: 100%;
      justify-content: center;
      max-width: 557px;
    }

    a {
      letter-spacing: 1.3px;
      min-width: 328px;
      padding: 0;
      width: 100%;
      height: auto;
      line-height: 3.2;
      font-size: 4vw;
      text-align: center;
    }

    .section-img {
      display: none;
    }

    .img-car-tablet {
      display: none;
    }
  }
}