.main-s3 {
  .container {
    padding: 0;
    justify-content: flex-end;
  }

  .content-wrapper {
    width: 43.3%;
    text-align: left;
  }

  h2,
  p,
  .section-btn-wrapper {
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  .section-btn-wrapper {
    text-align: center;
    width: 474px;
  }

  .item-visible {
    opacity: 1;
    visibility: visible;
  }

  p,
  h2,
  a {
    color: #ffffff;
  }

  p,
  h2 {
    padding-left: 5px;
  }

  a {
    @extend %button;
    vertical-align: middle;
    display: inline-block;
    box-sizing: content-box;
    border-color: #ffffff;

    &:hover {
      border-color: #ffffff;
      box-shadow: 3px 3px 0 #ffffff;
    }
  }

  .section-img {
    position: absolute;
    top: 50%;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translate3d(-1000px, 0px, 0px);
    max-width: 932px;
    width: 49vw;
    transition: transform .5s cubic-bezier(0.38, 0.51, 0.03, 0.78);
    will-change: transform;
    transition-delay: 0.2s;
  }

  .section-img-common {
    width: 49vw;
    max-width: 600px;
    left: 6vw;
  }


  .img-show {
    transform: translateY(-50%) translate3d(5%, 0px, 0px);
    transition-delay: 0.4s;
  }
}

.main-s3-v1 {
  .container {
    padding: 0;
    justify-content: flex-end;
  }

  .content-wrapper {
    width: 43.3%;
    text-align: left;
  }

  h2,
  p,
  .section-btn-wrapper {
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
  }

  .section-btn-wrapper {
    text-align: center;
    width: 474px;
  }

  .item-visible {
    opacity: 1;
    visibility: visible;
  }

  p,
  h2,
  a {
    color: #000000;
  }

  p,
  h2 {
    padding-left: 5px;
  }

  a {
    @extend %button;
    vertical-align: middle;
    display: inline-block;
    box-sizing: content-box;
    border-color: #000000;

    &:hover {
      border-color: #000000;
      box-shadow: 3px 3px 0 #000000;
    }
  }

  .section-img {
    position: absolute;
    top: 50%;
    left: -8vw;
    top: 50%;
    transform: translateY(-50%) translate3d(-1000px, 0px, 0px);
    max-width: 932px;
    width: 47vw;
    transition: transform .5s cubic-bezier(0.38, 0.51, 0.03, 0.78);
    will-change: transform;
    transition-delay: 0.2s;
  }

  .img-show {
    transform: translateY(-50%) translate3d(5%, 0px, 0px);
    transition-delay: 0.4s;
  }
}




@mixin main-s3-media-1200 {

  .main-s3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(57, 94, 117);


    &.main-s3-bg-common {
      background-color: rgb(68, 0, 153);
    }

    .content-wrapper {
      width: auto;
    }

    .container {
      height: auto;
      order: 2;
      padding: 0 50px;
      justify-content: center;
    }

    h2,
    p,
    .section-btn-wrapper {
      transition: none;
      opacity: 1;
      transform: translateY(0);
      visibility: visible;
    }
    h2,
    p {

      margin-left: 0px;
    }

    h2 {
      font-size: 58px;
      line-height: 1;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 30px;
    }

    .section-btn-wrapper {
      margin: 0 auto;
      display: flex;
      align-items: center;
    }

    .item-visible {
      transform: translateY(0);
    }

    a {
      height: 50px;
      line-height: 50px;
      text-align: center;
    }

    .section-img {
      order: 1;
      position: relative;
      width: 81vw;
      right: auto;
      left: auto!important;
      transition: none;
      top: auto;
      padding-top: 0;
      margin-bottom: 80px;
      max-width: 750px;
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }

    .section-img-common {
      width: 39vw;
    }

    .img-car-desktop {
      display: none;
    }

    .img-car-tablet {
      display: block;
    }

    .img-show {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }

  .main-s3-v1 {
    background-color: #ffffff;

    p,
    h2,
    a {
      color: #000000;
    }


    a {
      border-color: #000000;

      &:hover {
        border-color: #000000;
        box-shadow: 3px 3px 0 #000000;
      }
    }
  }
}