.main-s4 {
  @extend .main-s2;

  .section-img {
    padding-top: 0;
    max-width: none;
    width: 36vw;
    right: 6vw;
  }

  p,
  h2,
  a {
    color: #ffffff;
  }
  a {
    @extend %button;
    vertical-align: middle;
    display: inline-block;
    box-sizing: content-box;
    border-color: #ffffff;

    &:hover {
      box-shadow: 3px 3px 0 #ffffff;
      border: 3px solid #ffffff;
    }
  }
}


@media screen and (max-width: 1200px) {

  .main-s4 {
    background-color: rgb(68, 0, 153)!important;

    p,
    h2,
    a {
      color: #ffffff;
    }
    a {
      border-color: #ffffff;

      &:hover {
        box-shadow: 3px 3px 0 #ffffff;
        border: 3px solid #ffffff;
      }
    }
  }
}


@media screen and (max-width: 767px) {

  .main-s4 {

    p,
    h2,
    a {
      color: #ffffff;
    }
    a {
      border-color: #ffffff;

      &:hover {
        box-shadow: 3px 3px 0 #ffffff;
        border: 3px solid #ffffff;
      }
    }
  }
}