.main-s5 {
  @extend .main-s3;

  p,
  h2,
  a {
    color: #000000;
  }

  a {
    @extend %button;
    vertical-align: middle;
    display: inline-block;
    box-sizing: content-box;
    border-color: #000000;

    &:hover {
      box-shadow: 3px 3px 0 #000000;
      border: 3px solid #000000;
    }
  }

  .section-img {
    transform: translateY(-50%) translate3d(-1000px, 0px, 0px);
    max-width: 480px;
    width: 25vw;
  }
  .img-show {
    transform: translateY(-50%) translate3d(50%, 0px, 0px);
  }
}

.main-s5-v1 {
  @extend .main-s3;

  p,
  h2,
  a {
    color: #ffffff;
  }

  a {
    @extend %button;
    vertical-align: middle;
    display: inline-block;
    box-sizing: content-box;
    border-color: #ffffff;

    &:hover {
      box-shadow: 3px 3px 0 #ffffff;
      border: 3px solid #ffffff;
    }
  }

  .section-img {
    transform: translateY(-50%) translate3d(-1000px, 0px, 0px);
    max-width: none;
    width: 70vw;
    left: -15vw;
  }
  .img-show {
    transform: translateY(-50%) translate3d(0, 0px, 0px);
  }
}




@mixin main-s5-media-1200 {

  .main-s5 {
    .section-img {
      img {
        display: block;
        max-height: 521px;
        margin: 0 auto;
      }
    }
  }
}


@media screen and (max-width: 1200px) {

  .main-s5-v1 {
    background-color: rgb(239, 63, 59)!important;

    p,
    h2,
    a {
      color: #ffffff;
    }

    a {
      border-color: #ffffff;

      &:hover {
        box-shadow: 3px 3px 0 #ffffff;
        border: 3px solid #ffffff;
      }
    }
  }
}


@media screen and (max-width: 767px) {

  .main-s5-v1 {

    p,
    h2,
    a {
      color: #000000;
    }

    a {
      border-color: #000000;

      &:hover {
        box-shadow: 3px 3px 0 #000000;
        border: 3px solid #000000;
      }
    }
  }
}