.blog-single-s2 {
  padding: 88px 0;
  .container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1080px;
  }

  .blog-single-return-link {
    @extend %Amed;
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  .blog-single-img {
    margin-bottom: 38px;
  }

  p {

    max-width: none;
    font-size: 27px;
    font-weight: 500;
    line-height: 42px;
    margin-bottom: 42px;
  }
  .sign {
    color: #000000;
    @extend %qbold;
    font-size: 27px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 50px;
  }

  .blog-single-social {
    display: flex;
    flex-direction: row;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 50px;
  }

  .blog-single-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 104px;
    height: 56px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, .2)
  }

  $w: 14px,
  28px,
  40px,
  14px,
  30px;
  @for $i from 1 through length($w) {
    .icon-svg-blog-#{$i} {
      width: nth($w, $i);
    }
  }

  $h: 30px,
  23px,
  23px,
  30px,
  31px;
  @for $i from 1 through length($h) {
    .icon-svg-blog-#{$i} {
      height: nth($h, $i);
    }
  }
}





@media screen and (max-width: 1200px) {

  .blog-single-s2 {
    .container {
      max-width: 668px;
      padding: 0;
    }
  }
}


@media screen and (max-width: 767px) {

  .blog-single-s2 {
    padding: 40px 0;
    .container {
      padding: 0 16px;
    }

    .blog-single-return-link {
      font-size: 20px;
      margin: 0 auto 40px;
    }

    p {

      font-size: 20px;
      line-height: 34px;
      margin-bottom: 30px;
    }
    .sign {
      font-size: 20px;
      line-height: 34px;
      margin-bottom: 20px;
    }

    .blog-single-social {
      margin-top: 0px;
    }

    .blog-single-social-item {
      width: 57px;
      height: 31px;
    }

    $w: 7px,
    14px,
    20px,
    7px,
    15px;
    @for $i from 1 through length($w) {
      .icon-svg-blog-#{$i} {
        width: nth($w, $i);
      }
    }

    $h: 15px,
    12px,
    12px,
    15px,
    16px;
    @for $i from 1 through length($h) {
      .icon-svg-blog-#{$i} {
        height: nth($h, $i);
      }
    }
  }
}