.our-team-s2 {
  min-height: 100vh;
  padding: 70px 0 0;
  display: flex;
  align-items: center;

  .container {
    padding: 0 20px;
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &:after {
      content: '';
      width: 100%;
      order: 0;
    }
  }

  .team-person {
    max-width: 250px;
    position: relative;
    line-height: 0;
    filter: grayscale(100%);
    overflow: hidden;
    cursor: pointer;

    &:hover {
      filter: grayscale(0);

      .team-person-info {
        transform: translate3d(0px, 0%, 0px);
      }
    }

    &:nth-of-type(6),
    &:nth-of-type(7),
    &:nth-of-type(8),
    &:nth-of-type(9),
    &:nth-of-type(10) {
      order: 1;
      margin-top: 20px;
    }
  }

  .team-person-info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    height: 90px;
    background-color: rgba(0, 0, 0, 0.8);

    transform: translate3d(0px, 100%, 0px);
    transition: transform .1s ease-in-out;
    will-change: transform;
  }

  .team-person-info-name {
    color: #ffffff;
    @extend %pfreg;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
  }

  .team-person-info-position {
    @extend %Amed;
    color: rgba(255, 255, 255, .6);
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 4.22px;
    line-height: 1.1;
  }
}

@media screen and (max-width: 1380px) {

  .our-team-s2 {
    .team-person {
      max-width: 210px;
    }
  }
}

@media screen and (max-width: 1200px) {

  .our-team-s2 {
    margin-bottom: 100px;

    .container {
      max-width: 755px;
      &:after {
        display: none;
      }
    }

    .team-person {
      max-width: 337px;
      width: 50%;
      margin-top: 40px;

      &:nth-of-type(6),
      &:nth-of-type(7),
      &:nth-of-type(8),
      &:nth-of-type(9),
      &:nth-of-type(10) {
        margin-top: 40px;
      }
    }
  }
}




@media screen and (max-width: 767px) {

  .our-team-s2 {
    margin-bottom: 25px;
    .container {
      padding: 0;
      flex-direction: column;
      justify-content: flex-start;
    }

    .team-person {
      max-width: none;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}