@media all and (max-width: 1050px) {
	
	.l-cols {
		
		.l-col-left {
		.content-img img {
			display: block;
			width: 353px;
			height: 237px;
		}
		
		.content-img__main {
			//position: absolute;
			width: auto;
			//bottom: 0;
			//left: 0;
			right: 0;
			//padding: 8px 10px 25px 10px;
			padding: 10px;
			line-height: 24px;
			//color: #fff;
			//font-size: 32px;
			//font-weight: bold;
			//background: #000;
			background: rgba(35, 31, 32, 0.8);
			text-shadow: none;
		}
			
			
			
			.content-img__main h1 {
				//display: inline;
				//font-size: 32px;
				//line-height: 32px;
				font-family : Arial;
				font-weight : bold;
				font-size : 18px;
				line-height : 15px!important;
				color : #FFFFFF;
		
				
			}
			
			.content-img__main a {
				//position: relative;
				top: -1px;
				//color: #fff;
				//font: normal 12px Tahoma, Arial, sans-serif;
				//text-decoration: none;
				//background: #78838f;
				//padding: 3px 9px 4px 9px;
				//border-radius: 3px;
				//white-space: nowrap;
			}
			
			.content-img {
				//position: relative;
				margin: 0;
				overflow: hidden;
			}
			
			.content-info {
				margin: 0;
				padding: 10px;
				//font-size: 16px;
				//background: #f5f5f5;
				font-family : Arial;
				font-size : 14px;
				line-height : 18px;
				color : #000000;
				//color : rgb(0, 0, 0);
			}
			
			.content-img__info {
				//position: absolute;
				//left: 0;
				//top: 0;
				right: 0;
				width: auto;
				padding: 6px;
				//font-size: 11px;
				//background: #000;
				background: rgba(35, 31, 32, 0.8);
				opacity: 1;
				//transition: all 1s ease-in-out;
			}
			
			
			
			.content-img__descr {
				//display: block;
				//color: #b5bfcb;
				border-bottom: none;
				font-family : Arial;
				font-size : 12px;
				line-height : 15px;
				color : #BCBEC0;
			}
			
			
			
			.content p {
				font-family : Arial;
				font-size : 14px;
				line-height : 21px;
				color : #000000;
				text-align: left!important;
				margin-bottom: 18px;
				iframe {
					width: 352px;
					height: 200px;
				}
			}
			
			.wrap-soc {
				//overflow: visible;
				height: 35px;
			}
			
			.to-home {
				margin:0;
				text-align: left;
				float: left;
				height: 30px;
				line-height: 30px;
				a {
					//font-size: 16px;
					//color: #565d66;
					font-family : Arial;
					font-size : 14px;
					line-height : 16px;
					color : #60646B;
					//color : rgb(96, 100, 107);
					//text-decoration : underline;
					vertical-align: middle;
				}
				
				.icon {
					margin-right: 4px;
					vertical-align: middle;
				}
			}
			
			.send-and-print li {
				display: inline-block;
				margin-bottom: 0;
			}
			.send-and-print a {
				//color: #40454c;
				//text-decoration: none;
				font-size: 0;
			}
			
			.icon_email {
				@include sprite($send-print);
				margin-right:10px;
			}
			
			.icon_print {
				@include sprite($print);
			}
			
			.send-and-print {
				//float: right;
				padding-top: 0;
			}
			
			
			.related {
				//overflow: hidden;
				//margin: 15px 0 15px -10px;
				//font-size: 12px;
				border-top: 1px solid #D1D1D1;
				box-shadow: none;
			}
			
			.related__title {
				float: none;
				//padding: 10px;
				width: auto;
			}
			
			.related__main {
				//overflow: hidden;
				float: none;
				width: 100%;
				//padding: 10px;
				background: none;
			}
			
			.related__title div {
				//color: #e40000;
				//font-size: 16px;
				//font-weight: bold;
				//font-family : Arial;
				font-size : 16px;
				line-height : 21px;
				color : #DA0800;
			}
			
			.related__title a {
				//color: #40454c;
				//font-weight: bold;
				//text-decoration: none;
				//float: left;
				//margin: 10px 0 0 0;
				//clear: both;
				font-size : 12px;
				line-height : 21px;
				color : #60646B;
			}
			
			.related__main ul {
				float:none;
				margin-right: 0;
				width: 100%;
			}
			
			.related__main span {
				//color: #78838f;
				//display: block;
				font-size : 12px;
				line-height : 18px;
				color : #9AA0AB;
			}
			
			.related__main a {
				//color: #000;
				//text-decoration: none;
				font-size : 14px;
				line-height : 18px;
				color : #1A5CA6;
			}
			
			.related__main li {
				margin-bottom: 8px;
			}
			
			.com-counter {
				//font-size: 21px;
				//font-weight: bold;
				height: 30px;
				//text-transform: uppercase;
				//color: #40454c;
				//font-family: Tahoma, Arial, Helvetica, sans-serif;
				margin: 0 0 11px 0;
				background: none;
				//background-color: #ffffff;
				font-family : Arial;
				font-weight: 400;
				font-size : 24px;
				line-height : 21px;
				color : #40454D;
				border-bottom: 1px solid #D1D1D1;
			}
			
			.com-counter span {
				//position: relative;
				//top: -2px;
				//padding: 1px 4px;
				//color: #fff;
				//font-size: 16px;
				//font-weight: bold;
				//background: #ff0402;
				//border-radius: 2px;
				display: none!important;
			}
			
			.add-comment {
				border: none;
				padding: 0;
				//position: relative;
				margin-bottom: 10px;
				background: #ffffff;
				background-image: none;
			}
			
			.add-comment__title {
				//position: relative;
				//font-family: Tahoma, Arial, Helvetica, sans-serif;
				//font-weight: bold;
				//display: block;
				//padding-bottom: 10px;
				//font-size: 18px;
				//color: #40454c;
				font-family : Arial;
				font-size : 16px;
				line-height : 21px;
				color : #60646B;
			}
			
			.add-comment textarea {
				//margin-bottom: 10px;
				width: 100%;
				border-style : Solid;
				border-color : #BEC5CD;
				border-width : 1px;
				border-radius : 3px;
				margin-bottom: 0;
				//border: 1px solid #7f7f7f;
				//background: #fff;
				//font-size: 14px;
				//color: #000;
				//width: 204px;
				//padding: 4px 9px 5px 9px;
				box-shadow: none;
				font-size : 13px;
				line-height : 16px;
				color : #40454D;
				//font-family: Tahoma, Arial, sans-serif;
			}
			
			.comment__user-img {
				//float: left;
				//width: 50px;
				//height: 50px;
				//overflow: hidden;
				box-shadow: none;
			}
			
			.comment__info {
				margin-bottom: 2px;
				a {
					display: inline-block;
					font-family : Arial;
					font-weight : bold;
					font-size : 14px;
					line-height : 18px;
					color : #1A5CA6;
					margin-right: 5px;
				}
				
				&:after {
					content: "";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
				}
			}
			
			.comment__date {
				//display: block;
				//font-size: 11px;
				//color: #989898;
				display: inline-block;
				font-family : Arial;
				font-size : 12px;
				line-height : 16px;
				color : #B3B3B3;
			}
			
			.comment__text {
				p{
					font-family : Arial;
					font-size : 12px;
					line-height : 16px;
					color : #40454D;
				}
			}
			
			.comment li ul li, .media-cont .comment li ul li {
				background: #ffffff;
				//margin: 15px 0 0 60px;
				//padding: 10px 0 10px 10px;
				//border-bottom: none;
			}
			
			.comment {
					&:last-of-type {
					& >	li {
						border-bottom: none;
						padding-bottom: 0;
					}
					}
			}
			
			
			.article-categ {
				//padding-bottom: 4px;
				//font-size: 21px;
				//font: normal 21px Tahoma, Arial, sans-serif;
				border-bottom: 1px solid #D1D1D1;
				//min-height: 25px;
				margin-bottom: 3px;
			}
			
			.article-categ a {
				//color: #40454c;
				//text-decoration: none;
				font-family : Arial;
				font-size : 24px;
				line-height : 21px;
				color : #40454D;
			}
			
			.article_small p {
				//font-size: 12px;
				//line-height: 1.4;
				display: none;
			}
			
			.article_small img {
				width: 128px;
				height: 85px;
			}
			
		
		}
	}
}
