.study-s1 {
  @extend .study;
  height: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9vw 0 13vw;

  h1 {
    @extend %pfreg;
    color: #000000;
    font-size: 76px;
    line-height: 1.4;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    letter-spacing: .5px;
  }

  .s1-btns {
    width: 675px;
    display: flex;
    flex-direction: row;
    margin: 20px auto 0;
    justify-content: space-between;
    align-items: center;
    .section-btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .s1-btn-helper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .section-btn-wrapper:first-of-type {
      width: 326px;
      svg {
        width: 20px;
        height: 20px;
        fill: #000000;
        margin-right: 8px;
      }
    }
    .section-btn-wrapper:last-of-type {
      width: 326px;
    }

    .s1-btn {
      @extend %button;
      border-color: #000000;
      box-sizing: content-box;
      font-size: 13px;
      letter-spacing: 1.8px;
      width: 326px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
    }
  }

  .s1-btns-centered {
    justify-content: center;

    span {
      line-height: 1;
    }
  }

  .s1-btns-stub {
    .s1-btn-helper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    span {
      margin-top: 4px;
      @extend %qbold;
      letter-spacing: 4.42px;
      line-height: 1;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    fill: #000000;
    margin-right: 8px;
  }

  .arrow-down-view {
    position: absolute;
    left: 50%;

    transform: translateX(-50%) rotate(-90deg);
    bottom: 10%;
    animation: jump .8s infinite ease-in-out;

    span {
      display: none;
      @extend %pfreg;
      color: #B8B8B8;
      font-size: 4vw;
    }
  }
  @keyframes jump {
    0% {
      bottom: 5%;
    }
    65% {
      bottom: 10%;
    }

    100% {
      bottom: 5%;
    }
  }
  .icon-svg-arrow-thin {
    fill: #000000;
    width: 53px;
    height: 50px;
  }
}

@media screen and (max-width: 1200px) {

  .study-s1 {
    background-color: #ffeb00;
  }

  .study-s1-838 {
    background-color: #5785B8;

    .arrow-down-view {
      span {
        color: rgba(255, 255, 255, .7)!important; // display: block;
      }
    }
  }

  .study-s1-nabexpr {
    background-color: #395E75;

    .arrow-down-view {
      span {
        color: rgba(255, 255, 255, .7)!important; // display: block;
      }
    }
  }

  .study-s1-bmw {
    background-color: #7E9FB0;

    .arrow-down-view {
      span {
        color: rgba(255, 255, 255, .7)!important; // display: block;
      }
    }
  }

  .study-s1-smart-advocate {
    background-color: #747474;

    .arrow-down-view {
      span {
        color: rgba(255, 255, 255, .7)!important; // display: block;
      }
    }
  }
  .study-s1-ufity {
    background-color: #523A9D;

    .arrow-down-view {
      span {
        color: rgba(255, 255, 255, .7)!important; // display: block;
      }
    }
  }

  .study-s1-chocofood {
    background-color: #EF3F3B;

    .arrow-down-view {
      span {
        color: rgba(255, 255, 255, .7)!important; // display: block;
      }
    }
  }

  .study-s1-customs-mobile {
    background-color: #5D77B3;

    .arrow-down-view {
      span {
        color: rgba(255, 255, 255, .7)!important; // display: block;
      }
    }
  }

  .study-s1-krisha {
    background-color: #FFE9C7;
  }

  .study-s1-tabke {
    background-color: #93D9E6;
  }
}

@media screen and (max-width: 1100px) {

  .study-s1 {
    h1 {
      font-size: 58px;
      line-height: 1.8;
    }
  }
}



@media screen and (max-width: 767px) {

  .study-s1 {
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container {
      min-height: 100vh;
      max-height: none;
      height: 100%;
      padding: 70px 0 12vw;
    }
    h1 {
      font-size: 36px;
      font-size: 10vw;
      padding: 0 0 0;
      line-height: 1.5;
    }

    .content-wrapper {
      height: 140.5vw;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .s1-btns {
      width: auto;
      flex-direction: column;
      margin: 21vw auto 0;
      .section-btn-wrapper {
        height: 17vw;
      }

      .section-btn-wrapper:first-of-type {
        width: 100%;
      }
      .section-btn-wrapper:last-of-type {
        width: 100%;
        margin-top: 5vw;
      }
      .s1-btn {
        font-size: 4vw;
        height: 14vw;
        line-height: 14vw;
        padding: 0 2vw;
        width: 100%;
      }
    }

    .arrow-down-view {
      animation: none!important;
      transform: translateX(-50%) rotate(0);
      left: 50%;
      bottom: 5vw;

      span {
        color: rgba(0, 0, 0, .7);
        display: block;
      }

      svg {
        display: none;
      }
    }

    .s1-btns-stub {
      span {
        font-size: 3vw;
      }
    }
  }
}