.study-s9 {
  @extend .study-s5;

  .study-img-wrapper {
    align-items: center;
    img {
      width: 50vw;
    }
  }

  .media-container {
    transform: translateY(0);
  }

  img {
    margin: 0 auto;
    transform: translateX(10%);
  }
}

@media screen and (max-width: 1200px) {

  .study-s9 {
    .tablet-img {
      padding-left: 0;

      img {
        display: block;
        transform: translateY(0);
        width: 607px;
      }
    }
  }
}

@media screen and (max-width: 767px) {

  .study-s9 {

    .tablet-img {
      margin-bottom: 3.5vw;
      img {
        width: 90vw;
        margin-top: -40px;
      }
    }
  }
}