.contacts-s2 {
  background-color: #fbfbfb;
  height: 540px;
  background-image: url(../img/dot.png);
  background-repeat: repeat;
  background-size: 30px 30px;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 715px;
  }

  .contacts-s2-left {
    color: #000000;
    font-size: 76px;
    font-weight: 400;
    text-transform: uppercase;
    @extend %pfreg;
  }

  .contacts-s2-right {
    @extend %Areg;
    padding-left: 25px;
  }

  .contacts-s2-place {
    color: #000000;
    @extend %Abold;
    font-size: 37px;
    font-weight: 700;
  }

  .contacts-s2-adress {
    color: #b2b2b2;
    font-size: 20px;
    line-height: 60px;
    font-weight: 500;
  }

  .contacts-s2-phone,
  .contacts-s2-mail {
    color: #000000;
    font-size: 25px;
    @extend %Amed;
    font-weight: 500;
    line-height: 40px;
  }

  .contacts-s2-mail {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {

  .contacts-s2 {
    height: 88.7vw;

    .container {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 0 16px;
    }

    .contacts-s2-left {
      font-size: 14.5vw;
      margin-bottom: 5.8vw;
    }

    .contacts-s2-right {
      padding-left: 0;
      width: 100%;
    }

    .contacts-s2-phone-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .contacts-s2-place {
      font-size: 7.8vw;
    }

    .contacts-s2-adress {
      font-size: 4.5vw;
      line-height: 11.1vw;
    }

    .contacts-s2-phone,
    .contacts-s2-mail {
      font-size: 4.5vw;
      line-height: 9.2vw;
    }

    .contacts-s2-mail {
      margin-top: 2.8vw;
    }
  }
}