.contacts-s3 {
  height: 540px;

  .container {
    max-width: none;
    width: auto;
    padding: 0;
  }

  #map {
    width: 100%;
    height: 100%;
  }
}



@media screen and (max-width: 767px) {
  .contacts-s3 {
    height: 88.7vw;
  }
}