@media all and (max-width: 1050px) {
  body {
    min-width: auto; }
    body * {
      box-sizing: border-box; }
  .l-container {
    max-width: 640px;
    width: auto; }
  .footer {
    display: none; }
  .header__banner {
    display: none; }
  #frm {
    overflow: hidden; } }

@media all and (max-width: 1050px) {
  .top-bar {
    width: 640px;
    padding-right: 16px;
    height: 36px;
    line-height: 36px; }
  .top-bar_act {
    margin-left: -320px; }
  .top-bar__enter .btn_gray {
    width: 78px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    background: linear-gradient(180deg, #88939f 0%, #40454d 100%);
    border-style: Solid;
    border-color: #4B5159;
    border-width: 0px;
    border-radius: 3px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#88939F', endColorstr='#40454D', GradientType=0);
    font-family: Arial;
    font-size: 12px;
    color: #FFFFFF; }
  #top-link {
    margin-left: -32px;
    width: 36px;
    height: 36px; } }

@media all and (max-width: 1050px) {
  .header {
    position: relative; }
    .header .top-bar {
      position: static !important; }
    .header .header__logo {
      margin-right: 14px;
      width: 306px;
      height: 75px;
      background-size: 306px; }
    .header .header__widgets {
      padding: 9px 20px 0 9px; }
    .header .header__mailto {
      margin-top: 6px;
      font-size: 0;
      line-height: 0;
      border: 0; }
      .header .header__mailto i {
        background-image: url(img/sprite-media.png);
        background-position: 0px 0px;
        width: 36px;
        height: 25px;
        margin-right: 16px; }
    .header .search {
      float: left;
      margin-top: 12px;
      padding: 0;
      background: transparent; }
    .header .search__text {
      padding: 0;
      height: 26px;
      width: 100%;
      max-width: 0;
      opacity: 0;
      transition: opacity .15s ease-in-out, max-width .15s ease-in-out, padding .15s ease-in-out; }
      .header .search__text.show-input {
        max-width: 163px;
        opacity: 1;
        padding: 0 10px; }
    .header .search__submit {
      height: 26px;
      line-height: 26px;
      -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#D7D8DA' ,GradientType=0)";
      background: linear-gradient(180deg, #fafafa 0%, #d7d8da 100%);
      border-style: Solid;
      border-color: #BEC5CD;
      border-width: 1px;
      border-radius: 3px;
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#D7D8DA', GradientType=0); }
      .header .search__submit i {
        background-image: url(img/sprite-media.png);
        background-position: -36px 0px;
        width: 14px;
        height: 14px;
        margin: 0 2px 3px 9px; }
      .header .search__submit span {
        font-family: Arial;
        font-size: 12px;
        color: #4B5159;
        height: 22px;
        line-height: 20px;
        display: inline-block;
        vertical-align: middle; }
    .header .header__newspaper {
      padding: 3px 0 1px 9px;
      margin: 0;
      width: 138px;
      font-family: Arial;
      font-size: 11px;
      color: #989898; }
      .header .header__newspaper strong {
        font-weight: bold;
        font-size: 12px;
        color: #40454D; }
    .header .header__links {
      position: absolute;
      top: 53px;
      right: 7px;
      margin-bottom: 0;
      z-index: 0;
      opacity: 1;
      transition: opacity .1s ease-in-out, visibility .1s ease-in-out; }
      .header .header__links.hide-links {
        opacity: 0;
        pointer-events: none;
        visibility: hidden; }
    .header .nav-spec {
      padding: 0 16px 0;
      margin-bottom: 6px; }
      .header .nav-spec a {
        border-radius: 3px;
        font-family: Arial;
        font-size: 12px;
        line-height: 22px;
        color: #FFFFFF;
        margin: 0 5px 5px 0; }
        .header .nav-spec a.nav-spec__yellow {
          background: #ECA50D;
          box-shadow: none; }
    .header .nav {
      overflow: visible;
      box-shadow: none;
      background: none;
      background-image: none;
      border-radius: 0;
      padding: 0 16px; }
      .header .nav ul {
        display: block;
        height: 36px;
        background: #7E8791;
        border-radius: 3px; }
        .header .nav ul:after {
          content: "";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden; }
      .header .nav li:first-child {
        border-left: 0; }
      .header .nav a, .header .nav .nav-dropdown {
        float: left;
        height: 36px;
        line-height: 36px;
        border-right: 0;
        border-left: 0;
        font-family: Arial;
        font-size: 14px;
        color: #FFFFFF; }
      .header .nav .nav-dropdown {
        position: relative;
        width: 44px;
        border-left: 1px solid #A5B0BD;
        text-align: center;
        float: right;
        cursor: pointer; }
      .header .nav .nav-dropdown-container {
        position: absolute;
        padding-top: 2px;
        right: 0;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        transition: opacity .1s ease-in-out, visibility .1s ease-in-out; }
        .header .nav .nav-dropdown-container.show-nav_dropdown {
          opacity: 1;
          visibility: visible; }
        .header .nav .nav-dropdown-container .nav-dropdown-list {
          display: block;
          background: #7E8791;
          border-radius: 3px; }
        .header .nav .nav-dropdown-container a {
          display: block;
          float: none;
          white-space: nowrap; }
    .header .header__mob-links, .header .header__soc, .header .nav-top {
      display: none; }
    .header .header__links i {
      display: none; } }

@media all and (max-width: 1050px) {
  .l-cols {
    padding: 0 16px; }
    .l-cols .sidebar {
      width: 236px;
      background-color: red; }
      .l-cols .sidebar > * {
        display: none !important; } }

@media all and (max-width: 1050px) {
  .l-cols .l-col-left {
    width: 352px; }
  .l-cols .news-hour {
    position: relative;
    z-index: 10;
    padding: 0;
    color: #000;
    border: none;
    border-radius: 0;
    background: none;
    background-image: none; }
    .l-cols .news-hour:after, .l-cols .news-hour:before {
      display: none; }
    .l-cols .news-hour > span {
      display: none; }
    .l-cols .news-hour em {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      font-family: Arial;
      font-weight: bold;
      font-style: italic;
      font-size: 16px;
      line-height: 17px;
      color: #000000; }
    .l-cols .news-hour a {
      display: block;
      padding-left: 55px;
      font-family: Arial;
      font-style: italic;
      font-size: 14px;
      line-height: 17px;
      color: #E50E00; }
  .l-cols .topic__left {
    width: 100%;
    float: none;
    margin-bottom: 15px; }
  .l-cols .actual-news__img {
    width: 353px;
    height: 235px; }
    .l-cols .actual-news__img img {
      width: 353px;
      height: 235px; }
  .l-cols .actual-news__title {
    background: rgba(0, 0, 0, 0.65);
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    line-height: 12px;
    color: #FFFFFF;
    padding: 10px 10px 8px; }
  .l-cols .actual-news__descr {
    box-shadow: none;
    padding: 9px 10px;
    font-size: 0;
    border-top: 0;
    color: #fff;
    background: #40454D; }
    .l-cols .actual-news__descr a {
      font-family: Arial;
      font-size: 14px;
      line-height: 18px;
      color: #FFFFFF; }
  .l-cols .article__views_count, .l-cols .article__comments_count {
    font-family: Arial;
    font-size: 11px;
    line-height: 18px;
    color: #9AA0AB !important; }
  .l-cols .article__views_count .ico-view {
    background-image: url(img/sprite-media.png);
    background-position: -36px -14px;
    width: 13px;
    height: 9px; }
  .l-cols .article__comments_count .ico-comment {
    background-image: url(img/sprite-media.png);
    background-position: 0px -25px;
    width: 10px;
    height: 9px; }
  .l-cols .article_mod .subtitle {
    display: none; }
  .l-cols .article_mod img {
    width: 128px;
    height: 85px; }
  .l-cols .article .article__title {
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    color: #1A5CA6; }
  .l-cols .topic .topic__right {
    float: none;
    width: 100%;
    margin-bottom: 20px; }
  .l-cols .topic__item .other {
    padding: 0 10px;
    box-shadow: none; }
  .l-cols .image-ajax-loader {
    margin-left: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px; }
  .l-cols .other__wrap:after {
    right: 0;
    width: auto; }
  .l-cols .other__wrap {
    height: 320px !important;
    margin-bottom: 0px; }
  .l-cols .other .other__title {
    font-family: Arial;
    font-weight: bold;
    font-size: 16px;
    line-height: 31px;
    color: #60646B; }
  .l-cols .other__content dt {
    font-family: Arial;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
    color: #000000; }
  .l-cols .other a {
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    color: #1A5CA6; }
    .l-cols .other a span {
      display: none; }
    .l-cols .other a .article__comments_count {
      display: none !important; }
  .l-cols .title-l-1 {
    border-bottom: 1px solid #D1D1D1;
    background: transparent;
    background-image: none; }
  .l-cols .topic .title-l-1_small {
    margin-bottom: 11px; }
  .l-cols .title-l-1_small {
    padding-bottom: 9px;
    font-family: Arial;
    font-size: 24px;
    line-height: 21px;
    color: #40454D; }
  .l-cols .l-cols .article__title span {
    display: none !important; }
  .l-cols .article__title span {
    display: none; }
  .l-cols .topic .article {
    border-bottom: 0; }
    .l-cols .topic .article:nth-of-type(3) {
      display: none; }
  .l-cols .media-label {
    padding: 10px;
    font-family: Arial;
    font-weight: bold;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 1;
    height: auto; }
  .l-cols #gallerymain, .l-cols .photo-day {
    padding: 0; }
  .l-cols .rsDefault .rsArrow {
    position: absolute;
    right: 0;
    top: 0;
    height: 233px;
    width: 33px;
    cursor: pointer;
    background: #40454c;
    text-align: center;
    -webkit-user-select: none;
    opacity: 0.8; }
  .l-cols .rsDefault {
    margin-top: 0px; }
  .l-cols img.rsImg {
    max-width: 352px;
    margin-top: 0 !important;
    height: 233px !important; }
  .l-cols .other__scrollup, .l-cols .other__scrolldown {
    display: none; }
  .l-cols .rsDefault .rsFullscreenBtn {
    display: none; }
  .l-cols .rsGCaption {
    display: none; }
  .l-cols .rsNav {
    display: none; } }

/*# sourceMappingURL=style.css.map */
