@media all and (max-width: 1050px) {
	.footer {
		width: 640px;
		box-shadow: none;
		//background: linear-gradient(180deg, rgba(88, 97, 108, 1) 35.47%, rgba(78, 84, 94, 1) 88.18%, rgba(75, 81, 90, 1) 100%);
		background: none;
		margin-top: 83px;
		padding: 0;
		
		.footer__widgets {
			float: none;
			position: relative;
			width: 100%;
			margin-bottom: 0;
			padding: 18px 19px 26px;
			background: linear-gradient(180deg, rgba(88, 97, 108, 1) 35.47%, rgba(78, 84, 94, 1) 88.18%, rgba(75, 81, 90, 1) 100%);
			&:after {
				content: "";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
		}
		
		.footer__logo {
			float: left;
			width: 128px;
			height: 72px;
			background-size: 128px;
			margin-right: 55px;
		}
		
		.footer__location {
			float: right;
			font-family: Arial, serif;
			font-size: 12px;
			line-height: 18px;
			color: #9EADC2;
			margin-top: 19px;
			margin-bottom: 0;
			
			p {
				margin-top: 9px;
			}
			
			a {
				font-family: Arial, serif;
				font-size: 14px;
				line-height: 18px;
				color: #FFFFFF;
				font-weight: 400;
			}
		}
		
		.footer__newspaper {
			position: absolute;
			left: 200px;
			top: 18px;
			padding: 0;
			a {
				font-family: Arial, serif;
				font-size: 14px;
				line-height: 18px;
			}
		}
		
		.footer__soc {
			position: absolute;
			left: 200px;
			top: 38px;
			border-bottom: 0;
			width: auto;
			margin: 0;
			padding: 0;
			span {
				margin-bottom: 6px;
				font-family: Arial, serif;
				font-size: 12px;
				line-height: 18px;
				color: #9EADC2;
			}
			
			.soc {
				margin-right: 23px;
			}
			
			.soc_odn {
				display: none;
			}
			
			.soc_gp {
				@include sprite($ggl);
			}
			
			.soc_fb {
				@include sprite($fb);
			}
			
			.soc_tw {
				@include sprite($tw);
			}
			
			.soc_vk {
				@include sprite($vk);
			}
			
			.soc_tg {
				background: none;
				@include sprite($tm);
			}
		}
		
		.footer__main {
			width: 640px;
			background-color: #4b515a;
			
		}
		
		.footer__top-nav {
			margin: 0 0 16px;
			padding: 0 19px;
			
			ul {
				&:after {
					content: "";
					display: block;
					height: 0;
					clear: both;
					visibility: hidden;
				}
			}
			
			li {
				margin-right: 20px;
				margin-bottom: 5px;
			}
			
			a {
				font-family: Arial, serif;
				font-size: 12px;
				line-height: 18px;
				color: #FFFFFF;
			}
		}
		
		.footer__nav {
			padding: 0 19px;
			margin-bottom: 12px;
			
			li {
				margin-right: 15px;
				margin-bottom: 14px;
			}
			
			a {
				padding: 6px 10px 6px;
				width: auto;
				font-family: Arial, serif;
				font-size: 14px;
				line-height: 14px;
				color: #FFFFFF;
			}
		}
		
		.footer__info {
			padding: 0 19px;
			font-family: Arial, serif;
			font-size: 12px;
			line-height: 14px;
			color: #9EADC2;
		}
		
		.footer__counters {
			//display: none;
			width: 640px;
			margin: 0;
			padding:0 19px;
			background-color: #4b515a;
			border-radius: 0;
			padding-bottom: 20px;
			//clear: both;
			&:after {
				content: "";
				display: block;
				height: 0;
				clear: both;
				visibility: hidden;
			}
			
		}
		
		.footer__news, .calendar {
			display: none;
		}
		
	}
	
}