
@media all and (max-width: 1050px) {




body {
	min-width: auto;
	//max-width: 90%;
	* {
		box-sizing: border-box;
	}
}

//.l-wrapper {
//
//}

.l-container {
	max-width: 640px;
	width: auto;
}

//hidden!/hidden!/hidden!/hidden!/hidden!/hidden!/hidden!/hidden!/hidden!/hidden!/hidden!/hidden!

.l-container {
	.l-cols {
		//display: none !important;
		//width: 0 !important;
		//opacity: 0;
		//visibility: hidden;
	}
}

.footer {
	display: none;
}

.header__banner {
	display: none;
}
	
	
	
	
	#frm {
		overflow: hidden;
	}

}